In [10]:
from warnings import filterwarnings

filterwarnings("ignore")

In [11]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
import os

os.chdir("/workspaces/Humanitarian-activity-analysis/")

In [12]:
mixed_information = pd.read_csv("Data/kepler.gl_project_activity_sessions_per_month.geojson.csv")

mixed_information["country"] = mixed_information["country"].apply(lambda x: str(x)[1:-1])

In [13]:
mixed_information.head()

,_geojson,project_id,status,organisation,country,time,sessions,sessions_mapped,sessions_validated,cum_sessions,cum_sessions_mapped,cum_sessions_validated
0,"{""type"":""Feature"",""properties"":{""project_id"":9...",96,0,NaN,Indonesia,2012/11/01,118,86,32,118,86,32
1,"{""type"":""Feature"",""properties"":{""project_id"":9...",99,0,NaN,Uganda,2012/11/01,12,11,0,12,11,0
2,"{""type"":""Feature"",""properties"":{""project_id"":9...",98,0,NaN,Kenya,2012/12/01,27,26,1,27,26,1
3,"{""type"":""Feature"",""properties"":{""project_id"":9...",99,0,NaN,Uganda,2012/12/01,77,53,12,89,64,12
4,"{""type"":""Feature"",""properties"":{""project_id"":1...",100,0,NaN,Chad,2012/12/01,33,33,0,33,33,0

In [14]:
mixed_information.to_csv("Data processed/final_project_activity_by_month.csv",index = False)